@use '../util' as u;

.footer { display: none; }

.attribution {
  margin-top: 20px;
  font-size: u.rem(11);
  text-align: center;
  color: var(--clr-dark-grayish-blue);

  &__link:hover { opacity: .7; }
}
